---
layout: default
title: Salsah
---

<header>
    <div class="container">
        <div class="column">
            <div>

                <h1>System for Annotation and Linkage of Sources in Arts and Humanities</h1>
                <p>Salsah is the generic user interface for <a href="{{ links.knora }}">Knora</a>, which is a software framework for storing, sharing, and working with primary sources and data in the humanities.</p>
                <div class="action">
                    <div class="button">
                        <a href="/start">Getting started</a>
                    </div>
                    <div class="button">
                        <a href="/documentation">Documentation</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="column">
            <div class="img-column">
                <img class="desktop intro-image" src="/assets/images/digital-typewriter.png" alt="Digital Typewriter">
            </div>
        </div>
    </div>
</header>


<div class="container">
    <h2 style="text-align: center;">Features</h2>
    <ul class="thirds">
        <li>
            <div class="image">
                <i class="material-icons">storage</i>
            </div>
            <!-- <h3>Ensures Longevity of Humanities Data</h3> -->
            <h3>Longevity of Humanities Data</h3>
            <p>Knora keeps data accessible and reusable, even as technologies change.</p>
        </li>

        <li>
            <div class="image">
                <i class="material-icons">share</i>
            </div>
            <!-- <h3>Makes Data Citable and Reusable</h3> -->
            <h3>Citable and Reusable</h3>
            <p>Anything in Knora can be annotated, cited, published as Linked Open Data, and reused in new research.</p>
        </li>

        <li>
            <div class="image">
                <i class="material-icons">search</i>
            </div>
            <h3>Powerful Searches</h3>
            <p>Search for relationships between text, metadata, annotations, markup, links, and more.</p>
        </li>
    </ul>
    <ul class="thirds">
        <li>
            <div class="image">
                <i class="material-icons">history</i>
            </div>
            <h3>History</h3>
            <p>When data changes, Knora preserves past versions, so you can still view and cite them.</p>
        </li>

        <li>
            <div class="image">
                <i class="material-icons">perm_identity</i>
            </div>
            <h3>Control Access</h3>
            <p>You decide who can view and change data in your project.</p>
        </li>

        <li>
            <div class="image">
                <i class="material-icons">web</i>
            </div>
            <!-- <h3>Create Virtual Research Environments</h3> -->
            <h3>Own app</h3>
            <p>Use {{ site.links.salsah }}, or build your own research enviornment using Knora's API.</p>
        </li>
    </ul>
</div>

<!-- TODO: Clearly say what Knora is -->
<!-- e.g. in the container "Our Mission" (please replace the title) or in the next container with the class "quote" -->

{% for post in site.features limit: 3 %}
    <div class="container">
        <div class="columns">
            <div>
                <!--<img class="desktop shadow" src="/assets/images/annotations.jpg" alt="Work with humanities data">-->
            </div>
            <div>
                <h2>{{ post.title }}</h2>
                <p>{{ post.content }}</p>
            </div>
        </div>
    </div>
{% endfor %}

<div class="container">
    <div class="columns">
        <div>
            <img class="desktop shadow" src="/assets/images/annotations.jpg" alt="Work with humanities data">
        </div>
        <div>
            <h2>Create, Store, Share, and Work with Humanities Data</h2>
            <p>A Knora repository is a place for doing research. Knora can store texts, images, audio and video recordings,
                metadata, annotations, text markup, and any other data created by humanities research. It is designed for
                long-term preservation, and at the same time it provides powerful tools for searching, annotating, extending,
                linking, sharing, and reusing data.</p>
        </div>
    </div>
</div>
<div class="container">
    <hr>
    <div class="columns">
        <div>
            <h2>Find and Link Data across Projects</h2>
            <p>With Knora, you can search for and link data across projects, search for dates in
                one calendar and find corresponding dates in other calendars, link a word in a text to an annotation of part
                of an image, and search for text markup across large numbers of texts.</p>
        </div>
        <div>
            <img class="desktop shadow" src="/assets/images/search.jpg" alt="Find your data">
        </div>
    </div>
</div>
<!--

<div class="container">
    <hr>
    <blockquote>
        <p class="quote">Knora allows research projects to create their own data models, while ensuring that data from different projects
            is interoperable. Each project builds its data model on Knora's basic, shared foundation, which is designed for
            the humanities. This foundation includes a flexible way of storing text, which can have multiple, overlapping,
            non-hierarchical structures. With Knora, you can search for and link data across projects, search for dates in
            one calendar and find corresponding dates in other calendars, link a word in a text to an annotation of part
            of an image, and search for text markup across large numbers of texts.
            <div class="attribute">
                <p class="meta">
                    &lt;!&ndash; <span class="image"><img src="{{ site.baseurl }}/images/wooly.jpg" alt="Wooly"></span> &ndash;&gt;
                    &lt;!&ndash; <span class="author"><strong>Wooly McBaa</strong></span> &ndash;&gt;
                </p>
            </div>
    </blockquote>
</div>

-->

<div class="darker">
    <div class="container">
        <h2>Contribute</h2>
        <!-- <p style="text-align: center;">Test Knora today or improve the software</p> -->
        <div class="button">
            <a class="center" href="https://github.com/dhlab-basel/Knora">Code on GitHub</a>
        </div>
    </div>
</div>

<!--<div class="darker">-->
<div>
    <div class="container">
        <h2>News</h2>
        <div class="posts">
            {% for post in site.posts limit: 3 %}
            <div class="post">

                <!-- <div class="image" style="background-image: url('{{ post.featured_image}}')"></div> -->
                <div class="post-content">
                    <p class="date">{{ post.date | date: '%B %d, %Y' }}</p>
                    <h3>
                        <a href="{{ post.url }}">{{ post.title }}</a>
                    </h3>

                    {{ post.content }} {% if post.link %}
                    <p class="center">
                        <a href={{ post.link }}>&rarr; Release note on GitHub</a>
                    </p>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
