---
layout: default
title: Salsah
---


<section>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--7-col">
            <h1 class="mdl-typography--display-1">System for Annotation and Linkage of Sources in Arts and
                Humanities</h1>
            <h2 class="mdl-typography--headline">Salsah is the generic user interface for <a href="{{ links.knora }}">Knora</a>,
                which is a software framework for storing, sharing, and working with primary sources and data in the
                humanities.</h2>
            <div class="action">
                {% assign grouped = site.docs | group_by: 'category' %}
                {% for group in grouped %}
                {% assign items = group.items | sort: 'order' %}
                <a class="mdl-button mdl-js-button outlined rounded" href="{{ site.baseurl }}{{ items.first.url }}">{{ group.name }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="mdl-cell mdl-cell--5-col" style="position: relative">
            <img class="desktop-only intro-image" src="./assets/images/digital-typewriter.png" alt="Digital Typewriter">
        </div>
    </div>
</section>

<section>
    <h3 class="mdl-typography--display-1 mdl-typography--text-center">Features</h3>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp no-hidden-overflow mdl-typography--text-center">
            <button class="mdl-button mdl-js-button mdl-button--fab card-topic">
                <i class="material-icons">storage</i>
            </button>
            <div class="mdl-card__title">
                <h4 class="mdl-card__title-text">Longevity of Humanities Data</h4>
            </div>
            <div class="mdl-card__supporting-text">
                <p class="mdl-typography--headline mdl-typography--font-light smaller-headline">
                    Knora keeps data accessible and reusable, even as technologies change.
                </p>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp no-hidden-overflow mdl-typography--text-center">
            <button class="mdl-button mdl-js-button mdl-button--fab card-topic">
                <i class="material-icons">share</i>
            </button>
            <div class="mdl-card__title">
                <h4 class="mdl-card__title-text">Citable and Reusable</h4>
            </div>
            <div class="mdl-card__supporting-text">
                <p class="mdl-typography--headline mdl-typography--font-light smaller-headline">
                    Anything in Knora can be annotated, cited, published as Linked Open Data, and reused in new research.
                </p>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp no-hidden-overflow mdl-typography--text-center">
            <button class="mdl-button mdl-js-button mdl-button--fab card-topic">
                <i class="material-icons">search</i>
            </button>
            <div class="mdl-card__title">
                <h4 class="mdl-card__title-text">Powerful Searches</h4>
            </div>
            <div class="mdl-card__supporting-text">
                <p class="mdl-typography--headline mdl-typography--font-light smaller-headline">
                    Search for relationships between text, metadata, annotations, markup, links, and more.
                </p>
            </div>
        </div>
    </div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp no-hidden-overflow mdl-typography--text-center">
            <button class="mdl-button mdl-js-button mdl-button--fab card-topic">
                <i class="material-icons">history</i>
            </button>
            <div class="mdl-card__title">
                <h4 class="mdl-card__title-text">History</h4>
            </div>
            <div class="mdl-card__supporting-text">
                <p class="mdl-typography--headline mdl-typography--font-light smaller-headline">
                    When data changes, Knora preserves past versions, so you can still view and cite them.
                </p>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp no-hidden-overflow mdl-typography--text-center">
            <button class="mdl-button mdl-js-button mdl-button--fab card-topic">
                <i class="material-icons">perm_identity</i>
            </button>
            <div class="mdl-card__title">
                <h4 class="mdl-card__title-text">Control Access</h4>
            </div>
            <div class="mdl-card__supporting-text">
                <p class="mdl-typography--headline mdl-typography--font-light smaller-headline">
                    You decide who can view and change data in your project.<br>&nbsp;
                </p>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp no-hidden-overflow mdl-typography--text-center">
            <button class="mdl-button mdl-js-button mdl-button--fab card-topic">
                <i class="material-icons">web</i>
            </button>
            <div class="mdl-card__title">
                <h4 class="mdl-card__title-text">User Interface</h4>
            </div>
            <div class="mdl-card__supporting-text">
                <p class="mdl-typography--headline mdl-typography--font-light smaller-headline">
                    Easy to use (generic) web application. Or build your own app with {{ site.links.knora-ui }}.
                </p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--5-col mdl-card__media">
            <img class="desktop-only mdl-shadow--2dp" src="./assets/images/annotations.jpg" alt="Work with humanities data">
        </div>
        <div class="mdl-cell mdl-cell--7-col">
            <h3 class="mdl-typography--display-1">Create, Store, Share, and Work with Humanities Data</h3>
            <p class="mdl-typography--headline mdl-typography--font-light smaller-headline">
                A Knora repository is a place for doing research. Knora can store texts, images, audio and video
                recordings,
                metadata, annotations, text markup, and any other data created by humanities research. It is designed
                for
                long-term preservation, and at the same time it provides powerful tools for searching, annotating,
                extending,
                linking, sharing, and reusing data.</p>
        </div>
    </div>
</section>

<section>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--7-col">
            <h3 class="mdl-typography--display-1">Find and Link Data across Projects</h3>
            <p class="mdl-typography--headline mdl-typography--font-light smaller-headline">
                With Knora, you can search for and link data across projects, search for dates in
                one calendar and find corresponding dates in other calendars, link a word in a text to an annotation of
                part
                of an image, and search for text markup across large numbers of texts.
            </p>
        </div>
        <div class="mdl-cell mdl-cell--5-col mdl-card__media">
            <img class="desktop-only mdl-shadow--2dp" src="./assets/images/search.jpg" alt="Find your data">
        </div>
    </div>
</section>

{% for post in site.features limit: 3 %}
<div class="container">
    <div class="columns">
        <div>
            <!--<img class="desktop shadow" src="./assets/images/annotations.jpg" alt="Work with humanities data">-->
        </div>
        <div>
            <h2>{{ post.title }}</h2>
            <p>{{ post.content }}</p>
        </div>
    </div>
</div>
{% endfor %}

<div class="darker">
    <div class="container">
        <h2>Contribute</h2>
        <!-- <p style="text-align: center;">Test Knora today or improve the software</p> -->
        <div class="button">
            <a class="center" href="https://github.com/dhlab-basel/Knora">Code on GitHub</a>
        </div>
    </div>
</div>

<!--<div class="darker">-->
<div>
    <div class="container">
        <h2>News</h2>
        <div class="posts">
            {% for post in site.posts limit: 3 %}
            <div class="post">

                <!-- <div class="image" style="background-image: url('{{ post.featured_image}}')"></div> -->
                <div class="post-content">
                    <p class="date">{{ post.date | date: '%B %d, %Y' }}</p>
                    <h3>
                        <a href="{{ post.url }}">{{ post.title }}</a>
                    </h3>

                    {{ post.content }} {% if post.link %}
                    <p class="center">
                        <a href={{ post.link }}>&rarr; Release note on GitHub</a>
                    </p>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
