<header class="mdl-layout__header mdl-layout__header--waterfall no-color">
    <!-- Top row, always visible -->
    <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">
            <a href="/">Title</a></span>
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
            <label class="mdl-button mdl-js-button mdl-button--icon"
                   for="search-input">
                <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
                <form action="{{ site.baseurl }}/search/" method="get">
                    <input type="search" class="mdl-textfield__input" name="q" id="search-input" placeholder="Search">


                    <input type="submit" value="Search" style="display: none">
                </form>

            </div>
        </div>
    </div>
    <!-- Bottom row, not visible on scroll -->
    <div class="mdl-layout__header-row">
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation -->
        {% include navigation.html %}
    </div>
</header>
